
.main-container{

    background-image: url("https://images.unsplash.com/photo-1633525925967-c7efaef004a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    object-fit: contain;
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}
.component-container{
    display: flex;

}
@media (max-width:900px) {
  .component-container{
    flex-direction: column;
  }
}
/* Update your CSS */
.left-container {
  flex-direction: column;
  flex-basis: 35%;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0; /* Stick to the top of the container */
  height: 100vh; /* Make it full height of the viewport */
  /* overflow-y: auto; Add vertical scrolling if content exceeds the viewport */
}

.right-container {
  padding-inline: 2rem;
  margin-bottom: 2rem;
  flex-grow: 1; /* Allow it to grow and fill the remaining space */
}

/* Add media query to handle responsiveness */
@media (max-width: 900px) {
  .component-container {
    flex-direction: column;
  }
  .left-container {
    position: relative; /* Remove sticky position on smaller screens */
    top: auto;
    height: auto;
  }
}

